<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionRDV"
        tools:targetApi="31">
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Patient Activities -->
        <activity
            android:name=".activities.patient.PatientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.PatientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.PatientFileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.SelectDateTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.AppointmentsListActivity"
            android:exported="false" />

        <!-- Doctor Activities -->
        <activity
            android:name=".activities.doctor.DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorAppointmentsActivity"
            android:exported="false" />

        <!-- Admin Activities -->
        <activity
            android:name=".activities.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AdminCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AdminDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin.AdminSettingsActivity"
            android:exported="false" />
    </application>

</manifest>